@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
:root{
    
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);

    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

body{
    font-size: 14px;
    background-color: var(--Cream);}

.content{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    max-height: 800px;
    background-color: var(--White);
    border-radius: 10px;
}

img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.tag{
    margin-bottom: 20px;
    margin-left: 30px;   
}

.tag>p{
    font-family: 'Fraunces';
    color: var(--Dark-grayish-blue);    
}
body>main> .text p{
    font-family: 'Fraunces';
    color: aqua;}

h1{
    font-size: bold;
    font-family:'Montserrat',
}
.name{
    margin-bottom: 80px;
    margin-left: 30px;
}

.price{
   display: flex;
}
.new-price{
    margin-left: 20px;
    color: var(--Dark-cyan);
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

.old-price{
  margin-top: 15px;
  margin-left: 20px;
  font-weight: 800px;
  text-decoration: line-through;
}
button{
    font-weight: 700;
    font-size: 16px;
    margin-left: 30px;
    align-items: center;
    text-align: center;
    width: 240px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color: var(--Dark-cyan);
    border-style: none;
    margin-bottom: 60px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.582);
}

button:hover{
    background-color:  hsl(158, 59%, 46%);
}